services:
  db:
    image: postgres:14-alpine3.20
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - 5432:5432
    # volumes:
    #   - .docker/postgres/data:/var/lib/postgresql/data
