dj-database-url==3.0.1
Django==5.2.6
django-extensions==4.1
djlint==1.36.4
python-decouple==3.8
psycopg2-binary==2.9.10
django-filter==25.1
pillow==11.3.0
urllib3==1.26.6
cpf-cnpj-validate==1.4
dj-static==0.0.6
playwright==1.48.0