{% extends "_base.html" %}
{% block title %}
    {{ diretoria.name }}
{% endblock title %}
{% block content %}
    <section id="{{ diretoria.slug }}">
        <div>
            <!-- CABEÇALHO -->
            <div>
                <div>
                    <h1>{{ diretoria.name }}</h1>
                </div>
                <div>
                    <div>
                        <h2>{{ diretoria.accountable }}</h2>
                        <h2>{{ diretoria.get_kind_display }}</h2>
                    </div>
                    <div>
                        <h2>Setores: {{ total_setores }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- FORMULARIO DE BUSCA -->
        <div id="search">
            <form method="get">
                <div>
                    <h2>{{ myFilter.form.name.label }}</h2>
                    <div>{{ myFilter.form.name }}</div>
                </div>
                <div>
                    <h2>{{ myFilter.form.accountable.label }}</h2>
                    <div>{{ myFilter.form.accountable }}</div>
                </div>
                <div>
                    <input type="submit" value="Pesquisar!">
                </div>
            </form>
        </div>
        <!-- LISTA SETORES
        # TODO: Adicionar lista dos setores
        -->
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Responsvel</th>
                        <th>Diretoria</th>
                        <th>Telefone</th>
                        <th>Email</th>
                        <th>Endereço</th>
                        <th>Link</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for setor in setores %}
                        <tr>
                            <td>
                                <a href="{{ setor.get_absolute_url }}">{{ setor.name }}</a>
                            </td>
                            <td>{{ setor.accountable }}</td>
                            <td>{{ setor.direction }}</td>
                            <td>{{ setor.phone }}</td>
                            <td>{{ setor.email }}</td>
                            <td>{{ setor.address }}</td>
                            <td>
                                <a href="{% url 'dashboard:update_setor' setor.slug %}">Editar</a>
                                <a href="{% url 'dashboard:delete_setor' setor.slug setor.id %}">Excluir</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7">Nenhum setor cadastrado!!!</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock content %}
