{% extends "_base.html" %}
{% block title %}
    {{ diretoria.name }}
{% endblock title %}
{% block content %}
    <section id="{{ diretoria.slug }}">
        <div>
            <!-- CABEÇALHO -->
            <div>
                <div>
                    <h1>{{ diretoria.name }}</h1>
                </div>
                <div>
                    <div>
                        <h2>{{ diretoria.accountable }}</h2>
                        <h2>{{ diretoria.get_kind_display }}</h2>
                    </div>
                    <div>
                        <h2>Setores: {{ total_setores }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- LISTA SETORES
        # TODO: Adicionar lista dos setores
        -->
    </section>
{% endblock content %}
