{% extends "_base.html" %}
{% block title %}
    Setores
{% endblock title %}
{% block content %}
    <section id="setores">
        <!-- TITULO -->
        <div id="title">
            <h1>Setores</h1>
        </div>
        <!-- MESSAGES -->
        <div id="messages-alert">
            {% if messages %}
                {% for message in messages %}<div role="alert">{{ message }}</div>{% endfor %}
            {% endif %}
        </div>
        <!-- FORMULÁRIO DE CADASTRO -->
        <div id="forms">
            <div id="signin">
                <form action="." method="post">
                    {% csrf_token %}
                    <div>
                        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                        {{ form.name.errors }}{{ form.name }}
                    </div>
                    <div>
                        <label for="{{ form.accountable.id_for_label }}">{{ form.accountable.label }}</label>
                        {{ form.accountable.errors }}{{ form.accountable }}
                    </div>
                    <div>
                        <label for="{{ form.direction.id_for_label }}">{{ form.direction.label }}</label>
                        {{ form.direction.errors }}{{ form.direction }}
                    </div>
                    <div>
                        <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                        {{ form.phone.errors }}{{ form.phone }}
                    </div>
                    <div>
                        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                        {{ form.email.errors }}{{ form.email }}
                    </div>
                    <div>
                        <label for="{{ form.address.id_for_label }}">{{ form.address.label }}</label>
                        {{ form.address.errors }}{{ form.address }}
                    </div>
                    <div>
                        <input type="submit" value="{{ btn }}">
                    </div>
                </form>
            </div>
            <!-- FORMULARIO DE BUSCA -->
            <div id="search">
                <form method="get">
                    <div>
                        <h2>{{ myFilter.form.name.label }}</h2>
                        <div>{{ myFilter.form.name }}</div>
                    </div>
                    <div>
                        <h2>{{ myFilter.form.accountable.label }}</h2>
                        <div>{{ myFilter.form.accountable }}</div>
                    </div>
                    <div>
                        <input type="submit" value="Pesquisar!">
                    </div>
                </form>
            </div>
        </div>
        <!-- LISTA DE DADOS -->
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Responsvel</th>
                        <th>Diretoria</th>
                        <th>Telefone</th>
                        <th>Email</th>
                        <th>Endereço</th>
                        <th>Link</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for setor in setores %}
                        <tr>
                            <td>
                                <a href="{{ setor.get_absolute_url }}">{{ setor.name }}</a>
                            </td>
                            <td>{{ setor.accountable }}</td>
                            <td>{{ setor.direction }}</td>
                            <td>{{ setor.phone }}</td>
                            <td>{{ setor.email }}</td>
                            <td>{{ setor.address }}</td>
                            <td>
                                <a href="{% url 'dashboard:update_setor' setor.slug %}">Editar</a>
                                <a href="{% url 'dashboard:delete_setor' setor.slug setor.id %}">Excluir</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7">Nenhum setor cadastrado!!!</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock content %}
