{% extends "base.html" %}
{% block title %}
Troca de senha no primeiro login!
{% endblock title %}
{% block content %}
<h1>{{user.fullname}}</h1>
<p>Foi verificado que esse é o primeiro login, por favor verificar os dados e trocar a senha!</p>
    <form action="{% url 'authenticated:change_password' user.slug %}" method="post">{% csrf_token %}
        
        <div>
            {{form.first_name.label}}
            {{form.first_name}}
            {{form.first_name.erros}}
        </div>
        
        <div>
            {{form.last_name.label}}
            {{form.last_name}}
            {{form.last_name.erros}}
        </div>
        
        <div>
            {{form.username.label}}
            {{form.username}}
            {{form.username.erros}}
        </div>
        
        <div>
            {{form.email.label}}
            {{form.email}}
            {{form.email.erros}}
        </div>

        <div>
            {{form.registration.label}}
            {{form.registration}}
            {{form.registration.erros}}
        </div>

        <div>
            {{form.profile_pic.label}}
            {{form.profile_pic}}
            {{form.profile_pic.erros}}
        </div>

        <div>
            {{form.password1.label}}
            {{form.password1}}
            {{form.password1.erros}}
        </div>
    
        <div>
            {{form.password2.label}}
            {{form.password2}}
            {{form.password1.erros}}
        </div>
        
        <input type="submit" value="Trocar Senha">
    </form>
{% endblock content %}