{% extends "_base.html" %}
{% block title %}
Troca de senha no primeiro login!
{% endblock title %}
{% block content %}
<h1>{{user.fullname}}</h1>
<h2>{{user.username}}</h2>
<p>Foi verificado que esse é o primeiro login, por favor verificar os dados e trocar a senha!</p>
    <form action="{% url 'authenticated:change_password' user.slug %}" method="post">{% csrf_token %}
        
        <p>
            {{form.old_password.label}}
            {{form.old_password}}
            {{form.old_password.errors}}
        </p>
        <p>
            {{form.new_password1.label}}
            {{form.new_password1}}
            {{form.new_password1.erros}}
        </p>
        <p>
            {{form.new_password2.label}}
            {{form.new_password2}}
            {{form.new_password2.erros}}
        </p>
        <div>
            <ul>
                    <li>Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</li>
                    <li>Sua senha precisa conter pelo menos 8 caracteres.</li>
                    <li>Sua senha não pode ser uma senha comumente utilizada.</li>
                    <li>Sua senha não pode ser inteiramente numérica.</li>
            </ul>
        </div>
        <input type="submit" value="Trocar Senha">
    </form>
{% endblock content %}