{% extends "_base.html" %}
{% block title %}
Troca de senha no primeiro login!
{% endblock title %}
{% block content %}
<div class="flex-col items-center h-auto mb-4 rounded bg-gray-100 dark:bg-gray-800 p-6">
    <h1 class="mb-4 text-xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
        <mark class="px-2 text-white bg-blue-700 rounded dark:bg-blue-500">
            {{user.fullname}}
        </mark>
    </h1>
    <p class="text-gray-400 dark:text-gray-500">
        Foi verificado que esse é o <b>primeiro login</b>, por favor verificar os dados e trocar a senha!
    </p>
</div>
<div class="grid grid-cols-2 gap-4 mb-4 h-auto rounded bg-gray-100 dark:bg-gray-800 p-6">
    <div class="flex-col items-center h-auto mb-4 rounded bg-white dark:bg-gray-600 p-6">
        <form action="{% url 'change_password' user.slug %}" method="post">{% csrf_token %}
            <div class="relative z-0 w-full mb-5 group">
                {{ form.old_password.errors }}{{ form.old_password }}
                <label for="{{ form.old_password.id_for_label }}" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{ form.old_password.label }}</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                {{ form.new_password1.errors }}{{ form.new_password1 }}
                <label for="{{ form.new_password1.id_for_label }}" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{ form.new_password1.label }}</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                {{ form.new_password2.errors }}{{ form.new_password2 }}
                <label for="{{ form.new_password2.id_for_label }}" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{ form.new_password2.label }}</label>
            </div>
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Trocar Senha</button>
        </form>
    </div>
    <div class="flex-col items-center h-auto mb-4 rounded bg-white dark:bg-gray-600 p-6">
        <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Password requerimentos:</h2>
        <ul class="max-w-md space-y-1 text-gray-500 list-none list-inside dark:text-gray-400">
            <li>Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</li>
            <li>Sua senha precisa conter pelo menos 8 caracteres.</li>
            <li>Sua senha não pode ser uma senha comumente utilizada.</li>
            <li>Sua senha não pode ser inteiramente numérica.</li>
        </ul>
    </div>
</div>
{% endblock content %}