{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
          rel="stylesheet"
          href="{% static 'css/djangotw-ui.css' %}"
          type="text/css"
        />
        <title>Reset Password</title>
</head>
<body class="flex justify-center items-center h-screen bg-blue-700">
 

<div class="w-full max-w-sm p-4 bg-gray-50 border border-gray-800 rounded-tl-2xl shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
      <div class="flex justify-center items-center gap-10">
        <img src="{% static 'img/logo/logo.png' %}" alt="" class="h-20 w-20 object-fit">
        <h5 class="text-xl font-medium text-gray-900 dark:text-white flex justify-center gap-4 pl-20">SISInfo V2</h5>
      </div>
    <hr>
        <div class="relative w-full max-w-full">
            <p>Sua senha foi resetada com sucesso</p>
        </div>

</div>
</body>

</html>