{% extends "_base.html" %}
{% load static %}
{% block title %}
    Perfil de Usuário
{% endblock title %}
{% block content %}
<div class="flex items-center justify-end h-auto mb-4 rounded bg-gray-100 dark:bg-gray-800 p-6">
    <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
        Bem Vindo: 
        <mark class="px-2 text-white bg-blue-700 rounded dark:bg-blue-500">
            {{request.user.fullname}}
        </mark>
    </h1>
</div>
<div class="grid grid-cols-2 gap-4 mb-4 h-auto bg-gray-100  dark:bg-gray-800 rounded p-4">
    <div class="flex-col items-center justify-center border-2 border-blue-500 rounded bg-white dark:bg-gray-500 p-4 gap-3">
        <form action="" method="post" class="max-w-full w-full">{% csrf_token %}
            <div class="relative z-0 w-full mb-5 group">
                {{ form.username.errors }}{{ form.username }}
                <label for="{{ form.username.id_for_label }}" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{ form.username.label }}</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                {{ form.first_name.errors }}{{ form.first_name }}
                <label for="{{ form.first_name.id_for_label }}" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{ form.first_name.label }}</label>
            </div>
             <div class="relative z-0 w-full mb-5 group">
                {{ form.last_name.errors }}{{ form.last_name }}
                <label for="{{ form.last_name.id_for_label }}" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{ form.last_name.label }}</label>
            </div>
             <div class="relative z-0 w-full mb-5 group">
                {{ form.email.errors }}{{ form.email }}
                <label for="{{ form.email.id_for_label }}" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{ form.email.label }}</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                {{ form.registration.errors }}{{ form.registration }}
                <label for="{{ form.registration.id_for_label }}" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{ form.registration.label }}</label>
            </div>
            <div class="grid grid-cols-2 gap-4 relative">
                <div class="relative z-0 w-full group flex justify-start">
                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                        Alterar usuário
                    </button>
                </div>
                <div class="relative z-0 w-full group flex justify-end">
                    <a href="{% url 'authenticated:change_password' request.user.slug %}">
                    <button type="button" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
                        Trocar Senha
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="flex-col items-center justify-center border-2 border-blue-500 rounded bg-white dark:bg-gray-500 p-4 gap-3">
    # TODO: Adicionar informações 
    </div>
</div>
{% endblock content %}

