{% extends "_base.html" %}
{% load ui_tags %}

{% block title %}{{ sector.name }}{% endblock title %}

{% block content %}
<section>
    <div class="{% header_container %}">
        <h1 class="{% header_title %}">
            <mark class="{% header_mark %}">
                {{ sector.name }}
            </mark>
        </h1>
    </div>

    <div class="{% card_base %} p-6 mb-4">
        <dl class="max-w-full text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
            <div class="flex flex-col pb-3">
                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Diretoria:</dt>
                <dd class="text-lg font-semibold">{{ sector.direction.name }}</dd>
            </div>
            <div class="flex flex-col py-3">
                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Setor:</dt>
                <dd class="text-lg font-semibold">{{ sector.name }}</dd>
            </div>
        </dl>
    </div>

    <h2 class="text-2xl font-bold mb-4 text-gray-900 dark:text-white">Laudos do Setor</h2>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">Número</th>
                    <th scope="col" class="px-6 py-3">Funcionário</th>
                    <th scope="col" class="px-6 py-3">Status</th>
                    <th scope="col" class="px-6 py-3">Data</th>
                    <th scope="col" class="px-6 py-3">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for report in reports %}
                <tr
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ report.number_report }}
                    </th>
                    <td class="px-6 py-4">
                        {{ report.employee }}
                    </td>
                    <td class="px-6 py-4">
                        {{ report.get_status_display }}
                    </td>
                    <td class="px-6 py-4">
                        {{ report.created_at|date:"d/m/Y" }}
                    </td>
                    <td class="px-6 py-4">
                        <a href="{{ report.get_absolute_url }}"
                            class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Ver Detalhes</a>
                    </td>
                </tr>
                {% empty %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td colspan="5" class="px-6 py-4 text-center">Nenhum laudo encontrado para este setor.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock content %}