{% extends "_base.html" %}
{% load static %}
{% block title %}
    Fornecedores
{% endblock title %}
{% block content %}
<div class="flex items-center justify-end h-auto mb-4 rounded bg-gray-100 dark:bg-gray-800 p-6">
    <h1 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
        <mark class="px-2 text-white bg-blue-700 rounded dark:bg-blue-500">
            Fornecedores
        </mark>
    </h1>
</div>

<form action="" method="post">{% csrf_token %}
    <div class="grid grid-cols-2 gap-4 mb-4 h-auto bg-gray-100  dark:bg-gray-800 rounded p-4">
        <div class="flex-col items-center justify-center border-2 border-blue-500 rounded bg-white dark:bg-gray-500 p-4 gap-3">
            <div class="relative z-0 w-full mb-5 group">
                {{ form.company.errors }}{{ form.company }}
                <label for="{{ form.company.id_for_label }}" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{ form.company.label }}</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                {{ form.trade.errors }}{{ form.trade }}
                <label for="{{ form.trade.id_for_label }}" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{ form.trade.label }}</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                {{ form.cnpj.errors }}{{ form.cnpj }}
                <label for="{{ form.cnpj.id_for_label }}" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{ form.cnpj.label }}</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <label for="{{ form.address.id_for_label }}" class="block mb-2 text-sm text-gray-500 dark:text-gray-400">{{ form.address.label }}</label>
                {{ form.address.errors }}{{ form.address }}
            </div>
            <div class="flex justify-between items-center gap-10">
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">{{ btn }}</button>
                {% if 'Atualizar' in btn %}
                    <a href="{% url 'suppliers:fornecedores' %}">
                        <button type="button" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
                            Fornecedores
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="flex-col items-center justify-center border-2 border-blue-500 rounded bg-white dark:bg-gray-500 p-4 gap-3">
            <div class="relative z-0 w-full mb-5 group">
                 <mark class="px-2 text-white bg-blue-700 rounded dark:bg-blue-500 text-xl">
                    Contatos
                </mark>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg" id="inline_form">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <td scope="col" class="px-6 py-3">
                                    Tipo
                                </td>
                                <th scope="col" class="px-6 py-3">
                                    Contato
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Whastapp?
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{form_contact.management_form}}
                            {% for fc in form_contact %}
                            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{ fc.kind.errors }}{{ fc.kind }}
                                    <label for="{{ fc.kind.id_for_label }}" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transfc -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{ fc.kind.label }}</label>
                                </td>
                                <td class="px-6 py-4">
                                    {{ fc.value.errors }}{{ fc.value }}
                                    <label for="{{ fc.value.id_for_label }}" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transfc -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{ fc.value.label }}</label>
                                </td>
                                <td class="px-6 py-4">
                                   <label class="relative inline-flex items-center cursor-pointer">
                                        {{fc.whatsapp.errors}}{{fc.whatsapp}}
                                        <div class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                                    </label>
                                </td>
                                <td class="px-6 py-4">
                                    
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- MESSAGES -->
{% include "include/_alert.html" %}
<!-- SEARCH -->
<!-- Lista de dados -->
{% endblock content %}
{% block script %}
<script src="{% static 'js/jquery.formset.js' %}"></script>

<script type="text/javascript">
    $(function() {
        $('#inline_form table tbody tr').formset({
            prefix: '{{ form_contact.prefix }}',
            addText: '&#10003; Adicionar novo contato',
            deleteText: '&#10005; Remover Linha',
            addCssClass : 'text-base font-bold text-green-700',
            deleteCssClass : 'text-base font-bold text-red-700',
        });
    })
</script>

{% endblock script %}