{% extends "_base.html" %}
{% block title %}
{{ licitacao.name }}
{% endblock title %}
{% block content %}
<!-- TITULO -->
<div class="flex items-center justify-end h-auto mb-4 rounded bg-gray-100 dark:bg-gray-800 p-6">
    <p class="text-2xl text-gray-400 dark:text-gray-500">
    <h1
        class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
        <mark class="px-2 text-white bg-blue-700 rounded dark:bg-blue-500">
            {{ licitacao.name }}
        </mark>
    </h1>
    </p>
</div>
<!-- CABEÇALHO -->
<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mb-4 h-auto">
    <div class="flex-col items-center justify-end rounded bg-gray-100 h-full max-h-full dark:bg-gray-800 p-4">
        <div class="w-full max-w-full flex justify-start mb-6">
            <span
                class="bg-blue-100 text-blue-800 text-xl font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">Cadastro
                de Materiais:</span>
        </div>
        <form class="max-w-full mx-auto w-full" action="" method="post">{% csrf_token %}
            {% include "licitacao/include/_form_material.html" %}
            <div class="flex justify-between items-center gap-10">
                <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 flex justify-around gap-2 items-center">
                    {{ btn }}
                    <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20"
                        height="20" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9.994 19a8.999 8.999 0 1 1 3.53-17.281M5.995 9l4 4 7-8m-1 8v5m-2.5-2.5h5" />
                    </svg>
                </button>
            </div>
        </form>
    </div>
    <div class="flex-col items-center justify-center rounded bg-gray-100 h-full max-h-full dark:bg-gray-800 p-4 gap-3">
        <!-- Formulário de pesquisa -->
        <dl class="max-w-full text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700 w-full mb-8">
            <div class="flex flex-col pb-3">
                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Data:</dt>
                <dd class="text-lg font-semibold">{{ licitacao.date }}</dd>
            </div>
            <div class="flex flex-col py-3">
                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Quantidade de materiais:</dt>
                <dd class="text-lg font-semibold">{{ total_materiais }}</dd>
            </div>
        </dl>
        <a href="{% url 'dashboard:licitacoes' %}">
            <button type="button"
                class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900 flex justify-around gap-2 items-center">
                Licitações
                <svg class="w-4 h-4 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 16 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M4 7 1 4l3-3m0 12h6.5a4.5 4.5 0 1 0 0-9H2" />
                </svg>
            </button>
        </a>
    </div>
</div>
{% include "include/_alert.html" %}
<!-- Search -->
<div class="flex items-center justify-end h-auto mb-4 rounded bg-gray-100 dark:bg-gray-800 py-1 px-6">
    <form action="" method="get" class="w-full flex justify-arround p-5 max-w-full gap-2 items-center">
        <div class="pb-4 max-w-full w-full">
            <label for="{{ myFilter.form.name.id_for_label }}" class="text-sm text-blue-900 font-bold">Pesquisar por
                Nome</label>
            <div class="relative mt-1 max-w-full w-full">
                <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                {{ myFilter.form.name }}
            </div>
        </div>
        <button type="submit"
            class="h-9 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 flex justify-center items-center gap-4 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 mt-4">
            <svg class="w-4 h-4 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
            </svg>
            Pesquisar
        </button>
    </form>
</div>

<!-- LISTA MATERIAIS -->
<div class="flex items-center max-w-full w-full h-auto mb-4 rounded bg-gray-100 dark:bg-gray-800 p-6">
    {% include "licitacao/include/_table_material.html" %}
</div>
{% endblock content %}