{% extends "_base.html" %}
{% block title %}
    Materiais
{% endblock title %}
{% block content %}
    <section>
         <!-- TITULO -->
        <div class="flex items-center justify-end h-auto mb-4 rounded bg-gray-100 dark:bg-gray-800 p-6">
            <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"><mark class="px-2 text-white bg-blue-700 rounded dark:bg-blue-500">
                Materiais
            </mark>
            </h1>
        </div>
        <!-- Dois Grids -->
        <div class="grid grid-cols-2 gap-4 mb-4 h-auto">
         <!-- FORMULÁRIO DE CADASTRO -->
         <div class="flex-col items-center justify-center rounded bg-gray-100 h-full max-h-full dark:bg-gray-800 p-4 gap-3">
            <div class="w-full max-w-full flex justify-start mb-6">
               <span class="bg-blue-100 text-blue-800 text-xl font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">Formulário de Cadastro</span>
            </div>
            <form class="max-w-full mx-auto w-full" action="" method="post">{% csrf_token %}
                {% include "licitacao/include/_form_material.html" %}
                <div class="flex justify-between items-center gap-10">
                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">{{ btn }}</button>
                    {% if 'Atualizar' in btn %}
                        <a href="{% url 'dashboard:materiais' %}">
                            <button type="button" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
                                Materiais
                            </button>
                        </a>
                    {% endif %}
                </div>
            </form>
        </div>
        <!-- Formulário de pesquisa -->
        <div class="flex-col justify-start rounded bg-gray-100 h-full dark:bg-gray-800 p-4 max-w-full w-full">
            <p class="text-2xl text-gray-400 dark:text-gray-500 my-10">
                {% if 'Atualizar' in btn %}
                <span class="bg-blue-100 text-blue-800 text-xl font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">{{material.name}}</span>
                {% else %}
                <span class="bg-blue-100 text-blue-800 text-xl font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">Total de materiais cadastrados:</span>
                {{total_materiais}}
                {% endif %}
            </p>
            <hr>
            <p class="text-2xl text-gray-400 dark:text-gray-500 mt-10">
                <span class="bg-blue-100 text-blue-800 text-xl font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">Pesquisar:</span>
            </p>
            <form action="" method="get" class="w-full flex-col justify-center items-center p-5 max-w-full">
                <div class="pb-4 max-w-full w-full items-center">
                    <label for="{{ myFilter.form.name.id_for_label }}" class="text-sm text-blue-900 font-bold">{{ myFilter.form.name.label }}</label>
                    <div class="relative mt-1 max-w-full w-full">
                        <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                            </svg>
                        </div>
                        {{ myFilter.form.name }}
                    </div>
                </div>
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 flex justify-center items-center gap-4 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                    <svg class="w-4 h-4 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                    Pesquisar
                </button>
            </form>
        </div>
    </div>
    <!-- MESSAGES -->
        {% include "include/_alert.html" %}
         <!-- LISTA MATERIAIS -->
        <div class="flex items-center max-w-full w-full h-auto mb-4 rounded bg-gray-100 dark:bg-gray-800 p-6">
            {% include "licitacao/include/_table_material.html" %}
        </div>
        
    </section>
{% endblock content %}
