\u003cdiv class=\"relative overflow-x-auto shadow-md sm:rounded-lg max-w-full w-full px-10\"\u003e
    \u003ctable class=\"w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400\"\u003e
        \u003cthead class=\"text-xs text-white uppercase bg-blue-700 dark:bg-gray-700 dark:text-gray-400\"\u003e
            \u003ctr\u003e
                \u003cth scope=\"col\" class=\"px-6 py-3\"\u003eNome\u003c/th\u003e
                \u003cth scope=\"col\" class=\"px-6 py-3\"\u003eStatus\u003c/th\u003e
                \u003cth scope=\"col\" class=\"px-6 py-3\"\u003eFornecedor\u003c/th\u003e
                \u003cth scope=\"col\" class=\"px-6 py-3\"\u003ePreço (Snapshot)\u003c/th\u003e
                \u003cth scope=\"col\" class=\"px-6 py-3\"\u003eValor Total\u003c/th\u003e
                \u003cth scope=\"col\" class=\"px-6 py-3\"\u003eAções\u003c/th\u003e
            \u003c/tr\u003e
        \u003c/thead\u003e
        \u003ctbody\u003e
            {% for assoc in material_associations %}
                \u003ctr class=\"odd:bg-white odd:dark:bg-gray-900 even:bg-gray-100 even:dark:bg-gray-800 border-b dark:border-gray-700\"\u003e
                    {% if assoc.material.name %}
                        \u003cth scope=\"row\" class=\"px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white\"\u003e
                            \u003ca href=\"{{ assoc.material.get_absolute_url }}\"\u003e{{ assoc.material.name }}\u003c/a\u003e
                        \u003c/th\u003e
                        \u003ctd class=\"px-6 py-4\"\u003e
                            {% if assoc.status == '1' %}
                                \u003cspan class=\"bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300\"\u003e{{ assoc.get_status_display }}\u003c/span\u003e
                            {% else %}
                                \u003cspan class=\"bg-red-100 text-red-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300\"\u003e{{ assoc.get_status_display }}\u003c/span\u003e
                            {% endif %}
                        \u003c/td\u003e
                        \u003ctd class=\"px-6 py-4\"\u003e{{ assoc.material.supplier }}\u003c/td\u003e
                        \u003ctd class=\"px-6 py-4\"\u003eR$ {{ assoc.price_snapshot|floatformat:2 }}\u003c/td\u003e
                        \u003ctd class=\"px-6 py-4\"\u003eR$ {{ assoc.material.total_price|floatformat:2 }}\u003c/td\u003e
                        \u003ctd class=\"px-6 py-4 flex justify-normal items-center gap-2\"\u003e
                            \u003ca href=\"{% url 'dashboard:update_material' assoc.material.slug %}\"\u003e
                                \u003cbutton type=\"button\" class=\"flex justify-center gap-2 items-center focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800\"\u003e
                                    \u003csvg class=\"w-3 h-3 text-white dark:text-white\" aria-hidden=\"true\" xmlns=\"http://www.w3.org/2000/svg\" fill=\"currentColor\" viewBox=\"0 0 20 18\"\u003e
                                        \u003cpath d=\"M12.687 14.408a3.01 3.01 0 0 1-1.533.821l-3.566.713a3 3 0 0 1-3.53-3.53l.713-3.566a3.01 3.01 0 0 1 .821-1.533L10.905 2H2.167A2.169 2.169 0 0 0 0 4.167v11.666A2.169 2.169 0 0 0 2.167 18h11.666A2.169 2.169 0 0 0 16 15.833V11.1l-3.313 3.308Zm5.53-9.065.546-.546a2.518 2.518 0 0 0 0-3.56 2.576 2.576 0 0 0-3.559 0l-.547.547 3.56 3.56Z\"/\u003e
                                        \u003cpath d=\"M13.243 3.2 7.359 9.081a.5.5 0 0 0-.136.256L6.51 12.9a.5.5 0 0 0 .59.59l3.566-.713a.5.5 0 0 0 .255-.136L16.8 6.757 13.243 3.2Z\"/\u003e
                                    \u003c/svg\u003e Editar
                                \u003c/button\u003e
                            \u003c/a\u003e
                            \u003ca href=\"{% url 'dashboard:delete_material' assoc.material.slug assoc.material.id %}\"\u003e
                                \u003cbutton type=\"button\" class=\"flex justify-center gap-2 items-center focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900\"\u003e
                                    \u003csvg class=\"w-3 h-3 text-white dark:text-white\" aria-hidden=\"true\" xmlns=\"http://www.w3.org/2000/svg\" fill=\"currentColor\" viewBox=\"0 0 20 20\"\u003e
                                        \u003cpath d=\"M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z\"/\u003e
                                    \u003c/svg\u003e
                                    Excluir
                                \u003c/button\u003e
                            \u003c/a\u003e
                        \u003c/td\u003e
                    {% endif %}
                \u003c/tr\u003e
            {% empty %}
                \u003ctr\u003e
                    \u003ctd class=\"px-6 py-4\" colspan=\"6\"\u003eNenhum material cadastrado nesta licitação!!!\u003c/td\u003e
                \u003c/tr\u003e
            {% endfor %}
        \u003c/tbody\u003e
    \u003c/table\u003e
\u003c/div\u003e
