{% include "bidding_procurement/include/_form_field_standard.html" with field=form.material %}
<div class="grid md:grid-cols-2 md:gap-6">
    {% include "bidding_procurement/include/_form_field_standard.html" with field=form.supplier %}
    {% include "bidding_procurement/include/_form_field_standard.html" with field=form.status %}
</div>
<div class="grid md:grid-cols-2 md:gap-6">
    {% include "bidding_procurement/include/_form_field_standard.html" with field=form.price %}
    {% include "bidding_procurement/include/_form_field_standard.html" with field=form.readjustment %}
</div>