{% load ui_tags %}
<div class="{% table_container %}">
    <table class="{% table_base %}">
        <thead class="{% table_head %}">
            <tr>
                <th scope="col" class="px-6 py-3">Nome</th>
                <th scope="col" class="px-6 py-3">Status</th>
                <th scope="col" class="px-6 py-3">Fornecedor</th>
                <th scope="col" class="px-6 py-3">Preço</th>
                <th scope="col" class="px-6 py-3">Reajuste</th>
                <th scope="col" class="px-6 py-3">Total</th>
                <th scope="col" class="px-6 py-3">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for assoc in material_associations %}
            <tr class="{% table_row %}">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ assoc.material.name }}
                </th>
                <td class="px-6 py-4">
                    {% if assoc.status == '1' %}
                    <span
                        class="bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">Ativo</span>
                    {% else %}
                    <span
                        class="bg-red-100 text-red-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Inativo</span>
                    {% endif %}
                </td>
                <td class="px-6 py-4">{{ assoc.supplier|default:"-" }}</td>
                <td class="px-6 py-4">R$ {{ assoc.price|floatformat:2 }}</td>
                <td class="px-6 py-4">{{ assoc.readjustment }}%</td>
                <td class="px-6 py-4">R$ {{ assoc.total_price|floatformat:2 }}</td>
                <td class="px-6 py-4 flex justify-normal items-center gap-2">
                    {% if licitacao.status == '1' %}
                    <a href="{% url 'bidding_procurement:toggle_status_material' assoc.id %}">
                        {% if assoc.status == '1' %}
                        <button type="button" class="flex justify-center gap-2 items-center {% btn_secondary %}">
                            <svg class="w-3 h-3 text-white dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M1 5v11a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H1Zm0 0V2a1 1 0 0 1 1-1h5.443a1 1 0 0 1 .8.4l2.7 3.6H1Z" />
                            </svg>
                            Desativar
                        </button>
                        {% else %}
                        <button type="button" class="flex justify-center gap-2 items-center {% btn_primary %}">
                            <svg class="w-3 h-3 text-white dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m7 10 2 2 4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            Excluir
                        </button>
                        {% endif %}
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td class="px-6 py-4" colspan="7">Nenhum material cadastrado!!!</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>