{% extends "_base.html" %}
{% block title %}
    500. Erro interno inesperado
{% endblock title %}
{% block content %}
    <section>
        <div>
            <h1>500</h1>
            <h2>Erro interno inesperado</h2>
            <div>
                <p>Desculpe. Ocorreu um erro inesperado.</p>
                <p>
                    Nossa equipe já foi notificada do problema.
                    <br />
                    Caso necessário entre em contato com <a href="mailto:ti@novohorizonte.sp.gov.br?subject=500 Erro interno inesperado">ti@novohorizonte.sp.gov.br</a>
                </p>
            </div>
        </div>
    </section>
{% endblock content %}
