<!-- Base External HTML -->
{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% block title %}{% endblock title %} - SISInfo - Prefeitura Municipal de Novo Horizonte
    </title>
    {% include "include/_favicon.html" %}
    {% include "include/_css.html" %}
</head>

<body>
    <main>
        {% block content %}{% endblock content %}
    </main>
    {% include "include/_js.html" %}
    <!-- Toast Notifications -->
    {% include "include/_toast.html" %}
    {% block script %}{% endblock script %}
</body>

</html>