<!-- templates/index.html -->

{% extends "_base.html" %}
{% block title %}
Dashboard
{% endblock title %}
{% block content %} 

      {% include "include/_alert.html" %}

      <div class="grid grid-cols-4 gap-4 mb-4 mt-4">
         <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800 w-full max-w-full">
            <div class="flex flex-col bg-white rounded-lg shadow-md w-full m-6 overflow-hidden sm:w-52">
               <a href="#" class="bg-green-500 text-white p-3 text-center hover:bg-green-800 transition-all duration-500 font-semibold">Meus Atendimentos</a>
                <h2 class="text-center p-5 font-bold text-5xl text-gray-500">0</h2>  
            </div>
         </div>
         <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800 w-full max-w-full">
            <div class="flex flex-col bg-white rounded-lg shadow-md w-full m-6 overflow-hidden sm:w-52">
               <a href="#" class="bg-red-500 text-white p-3 text-center hover:bg-red-800 transition-all duration-500 font-semibold">Laudos Responsável</a>
                <h2 class="text-center p-5 font-bold text-5xl text-gray-500">{{ total_reports_accountable }}</h2>  
            </div>
         </div>
         <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
            <div class="flex flex-col bg-white rounded-lg shadow-md w-full m-6 overflow-hidden sm:w-52">
               <a href="#" class="bg-indigo-500 text-white p-3 text-center hover:bg-indigo-900 transition-all duration-500 font-semibold">Meus Laudos</a>
                <h2 class="text-center p-5 font-bold text-5xl text-gray-500">{{ total_reports_user }}</h2>  
            </div>
         </div>
         <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
            <div class="flex flex-col bg-white rounded-lg shadow-md w-full m-6 overflow-hidden sm:w-52">
               <a href="#" class="bg-blue-500 text-white p-3 text-center hover:bg-blue-800 transition-all duration-500 font-semibold">Total de Laudos</a>
                <h2 class="text-center p-5 font-bold text-5xl text-gray-500">{{ total_reports }}</h2>
            </div>
         </div>
      </div>
      <div class="grid grid-cols-3 gap-4 mb-4 mt-14">
         <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
            <div class="flex flex-col bg-white rounded-lg shadow-md w-full m-6 overflow-hidden sm:w-52">
               <a href="#" class="bg-red-500 text-white p-3 text-center hover:bg-red-800 transition-all duration-500 font-semibold">Ordem de Serviços</a>
                <h2 class="text-center p-5 font-bold text-5xl text-gray-500">0</h2>
            </div>
         </div>
         <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800 w-full max-w-full">
            <div class="flex flex-col bg-white rounded-lg shadow-md w-full m-6 overflow-hidden sm:w-52">
               <a href="#" class="bg-blue-500 text-white p-3 text-center hover:bg-blue-800 transition-all duration-500 font-semibold">Diretorias</a>
                <h2 class="text-center p-5 font-bold text-5xl text-gray-500">0</h2>  
            </div>
         </div>
         <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
            <div class="flex flex-col bg-white rounded-lg shadow-md w-full m-6 overflow-hidden sm:w-52">
               <a href="#" class="bg-indigo-500 text-white p-3 text-center hover:bg-indigo-800 transition-all duration-500 font-semibold">Setores</a>
                <h2 class="text-center p-5 font-bold text-5xl text-gray-500">0</h2>  
            </div>
         </div>
      </div>
      <!--
      <div class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
         <p class="text-2xl text-gray-400 dark:text-gray-500">
            Grid 4
         </p>
      </div>
      <div class="grid grid-cols-2 gap-4 mb-4">
         <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
            <p class="text-2xl text-gray-400 dark:text-gray-500">
               Grid 5
            </p>
         </div>
         <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
            <p class="text-2xl text-gray-400 dark:text-gray-500">
               Grid 6
            </p>
         </div>
      </div>
      <div class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
         <p class="text-2xl text-gray-400 dark:text-gray-500">
            Grid 7
         </p>
      </div>
      -->
{% endblock content %}