{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
          rel="stylesheet"
          href="{% static 'css/djangotw-ui.css' %}"
          type="text/css"
        />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css"  rel="stylesheet" />
        <title>Reset Password</title>
</head>
<body class="flex justify-center items-center h-screen bg-blue-700">
 

<div class="w-full max-w-sm p-4 bg-gray-50 border border-gray-800 rounded-tl-2xl shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
    <form class="space-y-6" action="{% url 'authenticate:password_reset' %}" method="post">{% csrf_token %}
      {{ form.non_field_errors }}
      <div class="flex justify-center items-center gap-10">
        <img src="{% static 'img/logo/logo.png' %}" alt="" class="h-20 w-20 object-fit">
        <h5 class="text-xl font-medium text-gray-900 dark:text-white flex justify-center gap-4 pl-20">SISInfo V2</h5>
      </div>
    <hr>
        <div class="relative w-full max-w-full">
            {{form.email.errors}}
            {{form.email}}
            <label for="{{form.email.id_for_label}}" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">{{form.email.label}}</label>
        </div>

        {% include "include/_alert.html" %}
        <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Recuperar a senha!</button>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
</body>
<script>
  document.getElementsById("id_email").className = "block px-2.5 pb-2.5 pt-4 w-full max-w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
</script>
</html>